BOT_TOKEN=123456:replace_me
BOT_ADMIN_USERS=123456789,987654321
FLOW_PATH=data/flow.yaml
DATABASE_PATH=db/bot.sqlite3
FUTURE_MESSAGES_CHECK_PERIOD=60
IMAGES_DIR=images
VIDEOS_DIR=videos
LOG_LEVEL=INFO
